@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins','sans-serif';
}

:root {

    --backround-color: #3AAfa9;
    --primary-color: #17252A;
    --secondary-color: #17252A;
    --bg-color: #3AAfa9;
    --snd-bg-color: #DEf2F1;
    --text-color: #feffff;
    --main-color: #17252A;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.logo i::after {
    content: ".";
    position: relative;
    bottom: -0.3em;
    left: -3rem;
    font-size: 3rem;
    color: var(--main-color)
  }

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);    
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
  
#timeline ul {
  list-style: none;
  margin-top: 50px;
}
    

#timeline ul li {
  position: relative;
  width: 0;
  border-left: 6px dotted var(--primary-color);
  margin: 0 auto;
}

#timeline ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--snd-bg-color);
  transition: background 1s ease-in-out;
}

#timeline ul h3 {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0 10px;
  color: #17252A;
}

#timeline ul li > div {
  width: 350px;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

#timeline ul li > div p {
  padding-top: 20px;
  font-size: 1.6rem;
}

#timeline ul li:nth-child(2n + 0) > div {
  margin-left: 70px;
  transform: translateX(60px);
}

#timeline ul li:nth-child(4n + 0) > div {
  margin-left: -414px;
  transform: translateX(-60px);
}

#timeline ul li > div > div  {
  position: relative;
  top: -14px;
  background: var(--secondary-color);
  width: 350px;
  padding: 5px 10px;
}

#timeline ul li > div:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-style: solid;
}
#timeline ul li:nth-child(2n + 0) > div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}
#timeline ul li:nth-child(4n + 0) > div:before {
  transform: translateX(365px);
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--secondary-color);
}

#timeline ul li.show > div {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#timeline ul li.show:before {
  background: var(--secondary-color);
}

span {
    white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--snd-bg-color);
}

.footer-text {
  font-size: 1.6rem;
  color: var(--main-color);
}

.footer-iconTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem 1rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--snd-bg-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.span-dark {
    color: var(--main-color);
}
  
@media (max-width: 900px) {
  #timeline ul li > div,
  #timeline ul li > div > div {
    width: 200px;
  }
  #timeline ul li:nth-child(4n + 0) > div {
    margin-left: -264px;
  }
  #timeline ul li:nth-child(4n + 0) > div:before {
    transform: translateX(215px);
  }
}
  
@media (max-width: 600px) {

  #timeline ul li {
    margin: 0 50px;
  }

  #timeline ul li > div,
  #timeline ul li > div > div {
    width: calc(100vw - 170px);
  }

  #timeline ul h3 {
    text-align: unset;
    padding-left: 30px;
  }

  #timeline ul li:nth-child(4n + 0) > div {
    margin-left: 70px;
    transform: translateX(60px);
  }

  #timeline ul li:nth-child(4n + 0) > div:before {
    transform: translateX(0);
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }

  #timeline ul li.show > div {
    transform: none;
  }

  #menu-icon {
      display: block;
  }

  .services-container {
      grid-template-columns: repeat(2, 1fr);
  }

  .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      display: none;
  }

  .navbar.active {
      display: block;
  }

  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
  }
}

@media (max-width: 450px) {

    html {
      font-size: 50%;
    }

    .header {
      width: 100vw;
      padding: 2rem 3%;
    }
}

@media (max-width: 320px) {
    
    span {
      white-space: wrap;
    }
}
